@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=fallback");

@tailwind base;
@tailwind components;

// Additional styles
@import "additional-styles/utility-patterns.scss";
@import "additional-styles/range-slider.scss";
@import "additional-styles/toggle-switch.scss";
@import "additional-styles/theme.scss";

@tailwind utilities;

// Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive
@layer utilities {
  .rtl {
    direction: rtl;
  }
}

// See Alpine.js: https://github.com/alpinejs/alpine#x-cloak
[x-cloak] {
  display: none;
}

// AOS styles
$aos-distance: 10px;
@import "node_modules/aos/src/sass/aos.scss";

.card1 {
  z-index: 10;
  position: absolute;
  left: -40%;
  right: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2em;
  width: 28em;
  max-width: 28em;
  transition: all 0.2s ease-out 0.05s;
}
.card2 {
  z-index: 9;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2em;
  width: 28em;
  max-width: 28em;
  transition: all 0.2s ease-out 0.05s;
}
.card3 {
  z-index: 8;
  position: absolute;
  left: 40%;
  right: 0;
  top: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2em;
  width: 28em;
  max-width: 28em;
  transition: all 0.2s ease-out 0.05s;
}

.start .card {
  opacity: 0.85;
  transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.card a {
  margin: 0em -2em;
  display: block;
  width: 120%;
  max-width: 24em;
  position: relative;
  line-height: 1em;
}

.card a:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.card p {
  line-height: 1.75em;
  margin-bottom: 0;
  margin-top: 2em;
}

.card-container:hover,
.card-container.hover {
  .card {
    opacity: 0.95;
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    &:hover,
    &.hover {
      opacity: 1;
      z-index: 11;
      transform: scale(1);
      -webkit-transform: scale(1);
    }
  }
}

.navbar_links {
  height: 100%;
  position: relative;
  color: white;
}

.navbar_links.active::after {
  content: "";
  position: absolute;
  border-radius: 20%;
  width: 80%;
  transform: scaleX(0.3);
  transform-origin: center;
  height: 5px;
  top: 90%;
  left: 6px;
  right: 0;
  background-color: #0cb9fb;
}

.navbar_links::after {
  content: "";
  position: absolute;
  border-radius: 20%;
  width: 80%;
  transform: scaleX(0);
  height: 5px;
  top: 90%;
  left: 6px;
  right: 0;
  background-color: #0cb9fb;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.navbar_links:hover:after {
  transform: scaleX(0.3);
  transform-origin: center;
}

@media (max-width: 425px) {
  .card {
    max-width: 22em;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .card {
    width: 28em;
  }
  .card1 {
    left: 0;
  }
  .card2 {
    top: 80%;
  }
  .card3 {
    top: 160%;
    left: 0;
  }
}

.blitDiag {
  z-index: -1;
}

.heroContent {
  z-index: 3;
}

.contactBg {
  background-color: rgba(22, 32, 42, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-right-width: 0px;
  border-bottom-width: 0px;
}

@media (max-width: 768px) {
  .contactBg {
    border-right-width: 1px;
    border-bottom-width: 1px;
  }
}

// Portfolio Section

$optionDefaultColours: #1e5ab6, #0b3d91, #0b3d91, #0b3d91;

.credit {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: inherit;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  // overflow: hidden;

  min-width: 700px;
  max-width: 900px;
  width: calc(100% - 100px);

  height: 400px;

  @for $i from 1 through 4 {
    @media screen and (max-width: #{798 - $i*80}px) {
      min-width: 600px - $i * 80;
      .option:nth-child(#{6-$i}) {
        display: none;
      }
    }
  }

  .option {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 10px;

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);

    cursor: pointer;

    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);

    @for $i from 1 through length($optionDefaultColours) {
      &:nth-child(#{$i}) {
        --defaultBackground: #{nth($optionDefaultColours, $i)};
      }
    }
    &.active {
      flex-grow: 10000;
      // transform: scale(1);

      max-width: 800px;
      margin: 0px;
      border-radius: 40px;

      background-size: cover;
      background-repeat: no-repeat;

      backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(2px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-right-width: 0px;
      border-bottom-width: 0px;

      .cover-image {
        border-radius: 40px;
        height: 75%;
        background-size: cover;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
      }

      .label {
        bottom: 20px;
        left: 20px;
        .info > div {
          left: 0px;
          opacity: 1;
        }
      }
    }
    &:not(.active) {
      flex-grow: 1;

      border-radius: 30px;

      backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(2px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-right-width: 0px;
      border-bottom-width: 0px;

      .cover-image {
        border-radius: 30px;
        height: 100%;
        background-size: cover;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
        margin: 15%;
        height: 90%;
      } 

      .label {
        bottom: 10px;
        left: 10px;
        .info > div {
          left: 20px;
          opacity: 0;
        }
      }
    }
    .label {
      position: absolute;
      right: 0px;

      height: 40px;
      transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
      .icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        min-width: 40px;
        max-width: 40px;
        height: 40px;
        border-radius: 100%;

        background-color: white;
        color: #ffffff;
      }
      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-left: 10px;

        color: #0cb9fb;

        white-space: pre;
        > div {
          position: relative;

          transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95),
            opacity 0.5s ease-out;
        }
        .main {
          font-weight: bold;
          font-size: 1.2rem;
        }
        .sub {
          transition-delay: 0.1s;
        }
      }
    }
    mix-blend-mode: multiply; // add this line to blend the background with the parent div
  }
}

.arrow-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  .arrow-button {
    cursor: pointer;
    margin: 40px 40px;
    font-size: 1.4rem;
    color: #ffffff;

    background-color: rgba(22, 32, 42, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    border-right-width: 0px;
    border-bottom-width: 0px;

    transition: color 0.3s ease;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: #0cb9fb;
      // background-color: #FFFFFF;
      background-color: rgba(22, 32, 42, 1);
    }
  }

  .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;

    .dot {
      background: #ffffff;
      border-radius: 50%;
      width: 3px;
      height: 3px;
      margin: 0 30px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &.active {
        background: #0cb9fb;
      }

      &:hover {
        background: #0cb9fb;
      }
    }
  }
}
