
body
{
    background-image: url('../images/Background.jpg');
    background-position: center;
    background-size: cover;    
    background-attachment: fixed;;       
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

@supports (-webkit-touch-callout: none) {
        body{
            background: url('../images/Background.jpg') center top no-repeat scroll;
            background-size: auto 100vh;
        }    
    }

.input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #0CB9FB;
    background: transparent;
}

.input:focus {
    outline: none;
    border-width: 0px;
    outline:0;
    -webkit-appearance:none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.input:focus ~ label, .input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #0CB9FB;
}

.bar {
    position: relative;
    display: block;
    width: 200px;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #fff;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.message {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #0CB9FB;
    background: transparent;
}

.message:focus {
    outline: none;
    border-width: 0px;
    outline:0;
    -webkit-appearance:none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.message:focus ~ label, .message:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #0CB9FB;
}

.messageBar {
    position: relative;
    display: block;
    width: 100%;
}

.messageBar:before, .messageBar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #fff;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.messageBar:before {
    left: 50%;
}

.messageBar:after {
    right: 50%;
}

.input:focus ~ .bar:before, .input:focus ~ .bar:after {
    width: 50%;
}

.message:focus ~ .messageBar:before, .message:focus ~ .messageBar:after {
    width: 50%;
}