@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=fallback");

@tailwind base;
@tailwind components;

// Additional styles
@import "additional-styles/utility-patterns.scss";
@import "additional-styles/range-slider.scss";
@import "additional-styles/toggle-switch.scss";
@import "additional-styles/theme.scss";

@tailwind utilities;

// Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive
@layer utilities {
  .rtl {
    direction: rtl;
  }
}

// See Alpine.js: https://github.com/alpinejs/alpine#x-cloak
[x-cloak] {
  display: none;
}

// AOS styles
$aos-distance: 10px;
@import "node_modules/aos/src/sass/aos.scss";

.card1 {
  z-index: 10;
  position: absolute;
  left: -40%;
  right: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2em;
  width: 28em;
  max-width: 28em;
  transition: all 0.2s ease-out 0.05s;
}
.card2 {
  z-index: 9;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2em;
  width: 28em;
  max-width: 28em;
  transition: all 0.2s ease-out 0.05s;
}
.card3 {
  z-index: 8;
  position: absolute;
  left: 40%;
  right: 0;
  top: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2em;
  width: 28em;
  max-width: 28em;
  transition: all 0.2s ease-out 0.05s;
}

.start .card {
  opacity: 0.85;
  transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.card a {
  margin: 0em -2em;
  display: block;
  width: 120%;
  max-width: 24em;
  position: relative;
  line-height: 1em;
}

.card a:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.card p {
  line-height: 1.75em;
  margin-bottom: 0;
  margin-top: 2em;
}

.card-container:hover,
.card-container.hover {
  .card {
    opacity: 0.95;
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    &:hover,
    &.hover {
      opacity: 1;
      z-index: 11;
      transform: scale(1);
      -webkit-transform: scale(1);
    }
  }
}

.navbar_links {
  height: 100%;
  position: relative;
  color: white;
}

.navbar_links.active::after {
  content: "";
  position: absolute;
  border-radius: 20%;
  width: 80%;
  transform: scaleX(0.3);
  transform-origin: center;
  height: 5px;
  top: 90%;
  left: 6px;
  right: 0;
  background-color: #0cb9fb;
}

.navbar_links::after {
  content: "";
  position: absolute;
  border-radius: 20%;
  width: 80%;
  transform: scaleX(0);
  height: 5px;
  top: 90%;
  left: 6px;
  right: 0;
  background-color: #0cb9fb;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.navbar_links:hover:after {
  transform: scaleX(0.3);
  transform-origin: center;
}

@media (max-width: 425px) {
  .card {
    max-width: 22em;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .card {
    width: 28em;
  }
  .card1 {
    left: 0;
  }
  .card2 {
    top: 80%;
  }
  .card3 {
    top: 160%;
    left: 0;
  }
}

.blitDiag {
  z-index: -1;
}

.heroContent {
  z-index: 3;
}

.contactBg {
  background-color: rgba(22, 32, 42, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-right-width: 0px;
  border-bottom-width: 0px;
}

@media (max-width: 768px) {
  .contactBg {
    border-right-width: 1px;
    border-bottom-width: 1px;
  }
}

// Portfolio Section

$optionDefaultColours: #ED5565,#FC6E51,#FFCE54,#2ECC71,#5D9CEC,#AC92EC;

   .credit {
      position: absolute;
      bottom:20px;
      left:20px;
      
      color:inherit;
   }
   .options {
      display:flex;
      flex-direction:row;
      align-items:stretch;
      overflow:hidden;

      min-width:600px;
      max-width:900px;
      width:calc(100% - 100px);
      
      height:400px;
      
      @for $i from 1 through 4 {
         @media screen and (max-width:798px - $i*80) {
            min-width:600px - $i*80;
            .option:nth-child(#{6-$i}) {
               display:none;
            }
         }
      }
      
      .option {
         position: relative;
         overflow:hidden;

         min-width:60px;
         margin:10px;
         //border:0px solid --defaultColor;

         background:var(--optionBackground, var(--defaultBackground, #E6E9ED));
         background-size:auto 120%;
         background-position:center;

         cursor: pointer;

         transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);

         @for $i from 1 through length($optionDefaultColours) {
            &:nth-child(#{$i}) {
               --defaultBackground:#{nth($optionDefaultColours, $i)};
            }
         }
         &.active {
            flex-grow:10000;
            transform:scale(1);
            
            max-width:600px;
            margin:0px;
            border-radius:40px;
            
            background-size:auto 100%;
            .shadow {
               box-shadow:inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
            }
            .label {
               bottom:20px;
               left:20px;
               .info >div {
                  left:0px;
                  opacity:1;
               }
            }
            /*&:active {
               transform:scale(0.9);
            }*/
         }
         &:not(.active) {
            flex-grow:1;
            
            border-radius:30px;
            .shadow {
               bottom:-40px;
               box-shadow:inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
            }
            .label {
               bottom:10px;
               left:10px;
               .info >div {
                  left:20px;
                  opacity:0;
               }
            }
         }
         .shadow {
            position: absolute;
            bottom:0px;
            left:0px;
            right:0px;
            
            height:120px;
            
            transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
         }
         .label {
            display:flex;
            position: absolute;
            right:0px;

            height:40px;
            transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
            .icon {
               display:flex;
               flex-direction:row;
               justify-content:center;
               align-items:center;
               
               min-width:40px;
               max-width:40px;
               height:40px;
               border-radius:100%;

               background-color:white;
               color:var(--defaultBackground);
            }
            .info {
               display:flex;
               flex-direction:column;
               justify-content:center;
               
               margin-left:10px;
               
               color:white;
               
               white-space: pre;
               >div {
                  position: relative;
                  
                  transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity .5s ease-out;
               }
               .main {
                  font-weight:bold;
                  font-size:1.2rem;
               }
               .sub {
                  transition-delay:.1s;
               }
            }
         }
      }
   }
